<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>TO DO List</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <script src="angular.js"></script>
    <script>
        //데이터 모델 정의 
        //앵귤러 애플리케이션은 브라우저상에 존재하므로 데이터 모델은 sript 내에 자바스크립트를 사용해 정의.
        var model = {
            user: "Adam",
            items: [{ action: "Buy Flowers", done: false },
                        { action: "Get Shoes", done: false },
                        { action: "Collect Tickets", done: true },
                        { action: "Call Joe", done: false }]
        };

        var todoApp = angular.module("todoApp", []); //모듈은 이렇게 angular.module 메소드를 호출해 생성한다. 인자는 생성할 모듈명과 필요한 추가 모듈 배열이다. []:추가 모듈이 필요없음을 앵귤러에 알림 

        //컨트롤러
        //인자는 새 컨트롤러 명, 컨트롤러의 기능을 정의하기 위해 호출하는 함수. 
        todoApp.controller("ToDoCtrl", function ($scope) {
            $scope.todo = model;    //뷰에서 전체 모델을 사용.

            //끝내지 못한 할일 목록의 개수를 반환하는 함수 
            $scope.incompleteCount = function () {
                var count = 0;
                angular.forEach($scope.todo.items, function (item) {
                    if (!item.done) { count++ }
                });
                return count;
            }

            //미완료 항목의 개수를 토대로 부트스트랩 css 클래스명을 반환한다. 
            $scope.warningLevel = function () {
                return $scope.incompleteCount() < 3 ? "label-success" : "label-warning";
            }   

            //사용자가 새 할일을 추가할 수 있도록 함 
            //새 할일 항목의 텍스트를 인자로 받아 이를 action속성의 텍스트 값으로 설정하고 done 속성을 false로 지정해 데이터 모델에 새 객체를 추가해주는 함수
            $scope.addNewItem = function (actionText) {
                $scope.todo.items.push({ action: actionText, done: false });
            }
        })
    </script>
</head>
<body ng-controller="ToDoCtrl"> <!--컨트롤러가 책임질 html 문서 영역을 지정  -->
    <div class="page-header">
        <h1>
            {{todo.user}}'s To Do List
            <span class="label label-default" ng-class="warningLevel()" 
                ng-hide="incompleteCount() == 0">
                {{incompleteCount()}}
            </span>
        </h1>
    </div>
    <div class="panel">
        <div class="input-group">
            <input class="form-control" ng-model="actionText" />
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
            </span>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todo.items | filter:{done: false} | orderBy:'action'"> <!-- done 속성값이 false인 항목만 선택하게끔 필터를 적용했다. 이렇게 하면 완료된 할 일 항목이 사용자에게 안보이게 된다. 또 action 속성값으로 정렬하게 지정했다. -->
                    <td>{{item.action}}</td>
                    <td><input type="checkbox" ng-model="item.done" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
